/* @override */

/* Artfully masterminded by Fairhead Creative & ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

  /* Write code for Mobile devices first ... */

	@media only screen and (min-width: 767px) {
	
	  /* ... then use this media query to adapt the design to desktops. */
	
	}

/* -----------------------------------------
:: Page Name 1
----------------------------------------- */




/* -----------------------------------------
:: Page Name 2
----------------------------------------- */


